// global styles
a { cursor: pointer; }

.app-container {
    min-height: 320px;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.check-box-row{
    display: flex;
    width: fit-content ;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 6px;
}

.drag-container{
    display: flex;
    gap: 40px;
}

.drag-from{
    width: fit-content;
}

.drop-box{
    // width: fit-content;
    text-align: center;
    border-radius: 5px;
    height: fit-content;
}

.drop-item{
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
}

.role-target{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-grow: 1;
}

.users-list-item{
    // background-color: aquamarine !important;
    border-style: groove;
    border-color: #13c1c1;
    border-width: 2px;
}

.popup-container{
    padding: 15px;
    opacity: 1;
    z-index: 10;
    width: 300px;
    position: absolute;
    left: calc(50% - 200px);
    top: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50;
}

.popup-row{
    gap: 15px;
}

.popup-back{
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 70%;
}

.users-list-item:last-child .lastItem{
    border-bottom-right-radius: 10px;
}

.users-list-item:last-child .firstItem{
    border-bottom-left-radius: 10px;
}

//  .manage-button {
//     background: aqua;
//     width: fit-content;
//     padding: 6px;
//     text-align: center;
//     display: flex;
//     align-content: center;
//     color: white !important;
//     border-radius: 5px;
// }